<div>
  <div class="dashboardManagementBody">
    <md-table [dataSource]="dataSource" mdSort>
      <ng-container cdkColumnDef="index">
        <md-header-cell *cdkHeaderCellDef> Index </md-header-cell>
        <md-cell *cdkCellDef="let row; let i = index">{{i+1}}</md-cell>
      </ng-container>
      <ng-container cdkColumnDef="dashboardName">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
        <md-cell *cdkCellDef="let row" contextmenu="actionmenu"><a href="#">{{row.name}}</a></md-cell>
      </ng-container>
      <ng-container cdkColumnDef="Actions">
        <md-header-cell *cdkHeaderCellDef class="actionsColumn"> Actions </md-header-cell>
        <md-cell *cdkCellDef="let row" class="actionsColumn">
          <div class="actions" fxLayoutAlign="center center" fxLayoutGap="10px">
            <button md-icon-button><md-icon>open_in_new</md-icon></button>
            <button md-icon-button><md-icon>settings</md-icon></button>
            <button md-icon-button><md-icon>delete_forever</md-icon></button>
          </div>
        </md-cell>
      </ng-container>
      <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
    <div #foofter class="dashboardManagementFooter">
      <button md-button md-mini-fab class="dashboardManagementFooterActionButton"
              color="primary">
        <md-icon>add</md-icon>
      </button>
    </div>
  </div>
</div>
<md-menu id="actionmenu">
  <button md-menu-item><md-icon>open_in_new</md-icon> Launch</button>
  <button md-menu-item><md-icon>settings</md-icon> Setting</button>
  <button md-menu-item><md-icon>delete_forever</md-icon> Delete</button>
</md-menu>
