.dashboardManagementHeader{

}
.heasderTitle{
  flex: 1;
  text-align: center;
}
.dashboardManagementBody{
  margin-top: 20px;
}
.dashboardManagementFooterActionButton{
  float: right;
  margin: 20px;
}
.actionsColumn{
  text-align: center;
}
