<div>
  <div class="dashboardToolbar">
    <button md-button md-icon-button><md-icon>note_add</md-icon></button>
    <button md-button md-icon-button><md-icon>open_in_new</md-icon></button>
  </div>
  <div class="dashboardTabs">
    <md-tab-group>
      <md-tab label="One">
        <app-dashboard-tabcontent [chars]="[1,2]"></app-dashboard-tabcontent>
      </md-tab>
      <md-tab label="Two">
        <app-dashboard-tabcontent [chars]="[1,2,3,4]"></app-dashboard-tabcontent>
      </md-tab>
      <md-tab label="Three">
        <app-dashboard-tabcontent [chars]="[1,2,3,4,5,6]"></app-dashboard-tabcontent>
      </md-tab>
    </md-tab-group>
  </div>
</div>
