<div>
  <div class="dashboardToolbar">
    <button md-button md-icon-button class="buttonStyle" md-tooltip="Add new tab">
      <md-icon class="iconStyle">note_add</md-icon>
    </button>
    <button md-button md-icon-button md-tooltip="Launch the tab" class="buttonStyle">
      <md-icon class="iconStyle">open_in_new</md-icon>
    </button>
  </div>
  <div class="dashboardTabs">
    <md-tab-group>
      <md-tab *ngFor="let item of tabs" label="{{item.name}}">
        <span>{{item.name}}</span>
      </md-tab>
    </md-tab-group>
  </div>
</div>
